.Login {
  display: grid;
  place-items: center;
  height: 100vh;
  /* background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1)); */
  /* background: linear-gradient(#484848, #212121); */
  background-color: #212121;
}
.Login > img {
  width: 30%;
}
.Login > a {
  padding: 15px 25px;
  border-radius: 99px;
  background-color: #1db954;
  color: #fff;
  text-decoration: none;
  transition: 200ms color ease-in;
}
.Login > a:hover {
  opacity: 0.8;
}
