.SideOptions {
  display: flex;
  align-items: center;
  color: rgb(168, 168, 168);
  height: 40px;
  cursor: pointer;
  transition: 200ms color ease-in;
}

.SideOptions:hover {
  color: #fff;
}
.sidebarOption_icon {
  margin: 0 14px 0 20px;
  font-size: 27px;
}
.SideOptions > h4 {
  font-size: 14px;
}
.SideOptions > p {
  margin: 10px 0 0 20px;
  font-size: 14px;
}
