.Body {
  padding: 30px;
  flex: 0.8;
  height: 100vh;
  color: #fff;
  overflow-y: overlay;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}
.Body::-webkit-scrollbar {
  display: none;
}
.BodyInfo {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.BodyInfo > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.infoText {
  flex: 1;
}
.infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
.infoText > p {
  font-size: 14 px;
}
.bodySongs {
  margin: 20px -30px;
}
.bodyIcons {
  display: flex;
  align-items: center;
}
.bodyIcons > .MuiSvgIcon-root {
  margin-right: 20px !important;
}
.body_shuffle {
  font-size: 80px !important;
  margin: 20px 0px 20px 50px;
}
.body_shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}
