.Player {
}
.Player_Body {
  display: flex;
}
.Sidebar {
  width: 20%;
}
.Body {
  width: 80%;
}
@media screen and (max-width: 800px) {
  .Sidebar {
    display: none;
  }
  .showSideBar {
    position: fixed;
    left: 0;
  }
  .Body {
    width: 100%;
  }
}
