.Footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  height: 13vh;
  width: 100%;
  background-color: #282828;
  padding: 20px;
}

.FooterLeft {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: #fff;
}
.albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
.footerSonginfo > h4 {
  margin-bottom: 5px;
}
.footerSonginfo > p {
  font-size: 12px;
}

.FooterCenter {
  flex: 0.4;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.allButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}
.lengthSlider {
  width: 100%;
}
.footerGreen {
  color: #1ed15e;
}
.footerIcon:hover,
.footerGreen:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}

.FooterRight {
  flex: 0.3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}
.volumeButton {
  font-size: 21px !important;
}
.slider {
  color: #1ed15e !important;
  width: 150px !important;
  margin: 0 10px;
}
